.lobby-page{
    width: 500px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    border: 2px solid #D3D3D3;
    border-radius: 15px;
    box-shadow: 2px 2px 2px 2px;
    /* TODO: Is this color style necessary? */
    color: #D3D3D3;
}

.lobby-page > h1, h2, h3, h4, h5, p {
    color: black;
}