#stage {
    /* border:5px solid black; */
}

.clientGameUI {
    overflow: hidden;
}

.clientCanvas {
    overflow: hidden;
    cursor: crosshair;
}

/* Note this applies to all pages */
body {
    overflow: hidden;
}