.lobby-page {
    width: 500px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    border: 2px solid #D3D3D3;
    border-radius: 15px;
    box-shadow: 2px 2px 2px 2px;
}

.lobby-page > h1, h2, h3, h4, h5, p {
    color: black;
}

.lobby-list-button {
	border: 0;
    margin: 2px auto;
    margin-top: 7px;
	text-align: center;
	height: 40px;
	outline: none;
	transition: 0.1s;
	cursor: pointer;
}

.lobby-list-left-button {
    border: 0;
    margin: 2px auto;
    margin-right: 5px !important;
	height: 70px;
	outline: none;
	cursor: pointer;
}

.lobby-list-right-button {
    border: 0;
    margin: 2px auto;
    margin-left: 5px !important;
	height: 70px;
	outline: none;
	cursor: pointer;
}


#lobby-help-icon {
	cursor: pointer;
}

.lobby-list-footer {
	margin-top: 20px;
	margin-bottom: -20px;
}

.multiplayer-lobby-button {
    border: 0;
    margin: 2px auto;
    margin-top: 7px;
	text-align: center;
    height: 40px;
    width: 300px;
	outline: none;
	transition: 0.1s;
	cursor: pointer;
}

.multiplayer-lobby-text {
    margin-bottom: 12px;
}