.user-info {
	width: 360px;
	padding: 40px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	border: 2px solid #d3d3d3;
	border-radius: 15px;
	box-shadow: 2px 2px 2px 2px;
	color: #d3d3d3;
}

.user-info input[type="password"] {
	border: 0;
	background: #e8f5ff;
	display: block;
	margin: 20px auto;
	text-align: center;
	border: 2px solid #d3d3d3;
	padding: 14px 10px;
	width: 200px;
	outline: none;
	transition: 0.1s;
}

.user-info input[type="password"]:focus {
	width: 280px;
	border-color: #1eb2a6;
}

.text {
	color: black;
}

.user-info-button {
	border: 0;
	display: block;
	margin: 5px auto;
	text-align: center;
	padding: 14px 40px;
	width: 200px;
	height: 50px;
	outline: none;
	transition: 0.1s;
	cursor: pointer;
}
